<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="{% block author %}{% endblock author %}">

    <!-- CSS Includes -->
    {% block css %}{% endblock css %}

    <!-- JS Includes -->
    {% block js %}{% endblock js %}

    <!-- Other Includes -->
    {% block other %}{% endblock other %}

  </head>
  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    {% block body %}
      {# Everything in child templates, goes here #}
    {% endblock body %}

    <!-- Google Analytics -->
    {% block googleAnalytics %}{% endblock googleAnalytics %}

  </body>
</html>
